<blockquote class="quotes">
  <p class="quotes__text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non unde molestiae
    natus eum qui perferendis aperiam. Neque distinctio ea corporis!
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quotes__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quotes__author">Ankit Paunikar</h3>
        <p class="quotes__company">CASWAY</p>
      </div>
    </div>
  </footer>
</blockquote>
